.content{
  width: 65%;
  background: rgb(250,190,40);
  padding: 5px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 5px;
}
.cabana-right{
  background: #fff;
  box-sizing: border-box;
  display: flex;
  border-bottom: 5px solid rgb(250,190,40);
}
.cabana-left{
  background: #fff;
  box-sizing: border-box;
  display: flex;
  border-bottom: 5px solid rgb(250,190,40);
}
.cabana-left:last-of-type {
  border-bottom: none;
}
.content-left{
  width: 40%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.content-right{
  width: 40%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.image-right, .image-left{
  width: 60%;
  display: block;
  margin: 0;
}
.image-right img{
  height: auto;
  width: 100%;
}
.image-left img{
  height: auto;
  width: 100%;
}
.titulo{
  font-weight: 700;
  color: #000;
}
ul{
  margin: 0;
  list-style-type: disc;
  padding-inline-start: 20px;
}
ul > li{
  text-align: left;
}
.button{
  font-weight: 400;
  font-size: 1.25em;
  text-align: right;
  margin-right: 20px;
}
.button a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}
.button a:hover{
  color:rgb(250,190,40);
}