.footer {
    background: #028f76;
    width: 100%;
    height: 5rem;
}
h4 {
    color: #fff;
    text-align: center;
    height: 100%;
    display: grid;
    place-content: center;
}

h4 a {
    text-decoration: none;
    color: #fff;
}
