.title-wrapper {
  width: 65%;
  margin: 20px auto;
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
  padding: 5px;
  border-radius: 4px;
}
h1 {
  font-size: 1.5em;
  padding: 5px;
  margin: 5px;
}

.gallery {
  width: 65%;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  padding: 5px 0;
  border-radius: 4px;
}

.gallery img {
  width: 49.5%;
}

.main img {
  width: 24.5%;
}
