.title-wrapper {
    width: 65%;
    margin: 20px auto;
    background: #fff;
    color: rgba(0, 0, 0, 0.54);
    padding: 5px;
    border-radius: 4px;
}
h1 {
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
}
hr {
    margin-top: 30px;
}
.green-bg {
    background: #028f76;
    width: 100%;
    padding: 0 !important;
}
.title {
    font-size: 2em;
    color: #fff;
    display: block;
    text-align: center;
    padding: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.subtitle {
    font-size: 1.5em;
    display: block;
    text-align: left;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.subtitle a {
    color: rgb(250, 190, 40);
    text-decoration: none;
}
.text {
    padding: 0rem 1rem;
}
.text ul {
    list-style: none;
    padding-inline-start: 0px;
}

.text ul > li {
    padding: 2px 0px;
}
